[DEFAULT]
# Set state path to writable directory
state_path = {{ snap_common }}/lib

# Where instances are stored on the hypervisor’s disk
instances_path = {{ snap_common }}/instances

[oslo_concurrency]
# Oslo Concurrency lock path
lock_path = {{ snap_common }}/lock
